.custom-cursor {
  position: fixed;
  width: 25px;
  height: 25px;
  background-color: #3b97d0;
  border: 3px solid #4b97d0;
  box-shadow: 0px 0px 20px 0px #3b97d0 round;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.15s ease;
  z-index: 9999;
  opacity: 0.3;
}

.custom-cursor.hovered {
  width: 40px;
  height: 40px;
  opacity: 0.6;
  cursor: pointer;
  background-color: #e40f0f;
  border: 3px solid #e40f0f;
}

body {
  cursor: none !important;
}
@media (max-width:768px){

  .custom-cursor {
    display: none !important;
  }
  body {
  cursor:pointer;
}
}

